{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block nav%} {{block.super}} {%endblock%}



{% block content %}
<a href ="{% url 'itineraires' %}" class="noir"> Itinéraires</a> > <a href ="{% url 'itineraire_details' it.id %}" class="noir"> {{ it.titre }} </a>
    <style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
        th, td {
        padding: 5px;
        padding-left: 8px;
        }
        th {text-align: left}
        td {text-align: center}

        .sommaire {
            color: grey
        }
        .noir{
            color: black
        }
        </style>
    <div> <h1> {{it.titre}}: <small> depuis {{it.depart}} </small> </h1>

<div style= 'float:left; padding-right: 3%'>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Altitude de départ</th>
            <td>{{ it.altitude_depart }}m</td>
        </tr>
        <tr>
            <th>Altitude min</th>
            <td>{{ it.altitude_min }}m</td>
        </tr>
        <tr>
            <th>Altitude max</th>
            <td>{{ it.altitude_max }}m</td>
        </tr>
        <tr>
            <th>Dénivelé positif cumulé</th>
            <td>{{ it.denivele_pos }}m</td>
        </tr>
          
        <tr>
            <th>Dénivelé négatif cumulé</th>
            <td>{{ it.denivele_neg }}m</td>
        </tr>
        <tr>
            <th>Durée estimée (en heures)</th>
            <td>{{ it.duree_estimee}}</td>
        </tr>
        <tr>
            <th>Difficulté estimée (de 1 à 5)</th>
            <td>{{ it.difficulte_estimee }}</td>
        </tr>

        </tr>
        </thead>
    </table>
</div>
<a href="#info" class="sommaire">1. Informations sur le parcours</a> 
<br>
<a href="#sorties" class="sommaire">2. Liste de sorties</a>
<div>
    <h2 id="info"> A propos du parcours </h2>
    <div>
        <p >{{it.description|linebreaks}}</p>
    </div>
</div>

<h2 id = "sorties"> SORTIE </h2>
{%if sorties %}
<table class="table table-striped" style="text-align: center">
    <thead>
    <tr>
        <th>Itinéraire</th>
        <th>Auteur</th>
        <th>Difficulté réelle (de 1 à 5)</th>
        <th>Date de la sortie</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for sortie in sorties %}
        <tr>
            <td>{{ sortie.itineraire }}</td>
            <td>{{ sortie.utilisateur }}</td>
            <td>{{ sortie.difficulte_reelle}} </td>
            <td>{{ sortie.date_de_sortie}}</td>
            <td> 
                <a href="{% url 'sortie' sortie.id %}"> 
                    <button type="submit" class="btn btn-sucess">Consulter</button>
                </a>
                

                {% if sortie.utilisateur == request.user %}
                    <a href="{% url 'modifier_sortie' sortie.id %}"> 
                       <button type="submit" class="btn btn-sucess">Modifier</button>
                    </a>
                {%endif%}
                 </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{%else%}
    <p> Il n'y a aucune sortie liée à cet itinéraire</p>
{%endif%}
    <br>
    <input type="button" onclick= window.location.href="{% url 'nouvelle_sortie' sorties.first.itineraire.id %}"
                    value="Ajouter une nouvelle sortie" style="float: left">
{% endblock %}