{% extends 'base.html' %}
{%block nav%} {{block.super}} {%endblock%}

{% block title %}Liste des itinéraires{% endblock title%}

{% block content %}
    <div><h1> Itinéraires</h1></div>
    {%if itineraires %}
        <table class="table table-striped" style="text-align: center">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Durée estimée (en heures)</th>
                <th>Point de départ</th>
                <th>Difficulté estimée (de 1 à 5)</th>
            </tr>
            </thead>
            <tbody>
            {% for itineraire in itineraires %}
                <tr>
                    <td><a href="{% url 'itineraire_details' itineraire.id %}">{{ itineraire.titre }}</a></td>
                    <td>{{ itineraire.duree_estimee }}</td>
                    <td>{{ itineraire.depart}} </td>
                    <td>{{ itineraire.difficulte_estimee}}/5</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {%else%}
        <div>Pas d'itinéraire disponible</div>
    {%endif%}
{% endblock %}
