{% extends 'base.html' %}
{% load django_bootstrap5%}
{%block nav%} {{block.super}} {%endblock%}

{% block title %}Sortie - {{sortie.itineraire}}{% endblock title%}

{% block content %}

    <a href ="{% url 'itineraires' %}" class="noir"> Itinéraires</a> > <a href ="{% url 'itineraire_details' sortie.itineraire.id %}" class="noir"> {{ sortie.itineraire.titre }} </a> > <a href ="{% url 'sortie' sortie.id %}" class="noir"> {{s}} </a>
    <div><h1> Sortie - {{sortie.itineraire}} - par {{sortie.utilisateur}}</h1></div>
    <p> Vous pouvez comparer les données informées par les randonneurs avec les données estimées par nos experts (valeurs entre parenthèses) !
    <style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
        th, td {
        padding: 5px;
        padding-left: 8px;
        }
        th {text-align: left}
        td {text-align: center}
    </style>


    <div style= 'float:left; padding-right: 3%'>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Itineraire</th>
                <td>{{ sortie.itineraire }}</td>
            </tr>
            <tr>
                <th>Date de la sortie</th>
                <td>{{ sortie.date_de_sortie }}</td>
            </tr>
            <tr>
                <th>Durée réelle (en h)</th>
                {% if minute != 0 %}
                    <td>{{heure}}h{{minute}} (estimée: {{hit}}h{{mnit}})</td>
                {% else %}
                    <td>{{heure}}h (estimée: {{hit}}h{{mnit}})</td>
                {%endif%}
            </tr>
            <tr>
                <th>Difficulté réelle (de 1 à 5)</th>
                <td>{{ sortie.difficulte_reelle }} (estimée: {{sortie.itineraire.difficulte_estimee}})</td>
            </tr>
            <tr>
                <th>Nombre de personnes ayant participé à la sortie</th>
                <td>{{ sortie.nb_personne }}</td>
            </tr>
              
            <tr>
                <th>Niveau du groupe</th>
                <td>{%if sortie.niveaux == '0'%} Tous débutants 
                    {%elif sortie.niveaux == '1'%} Mixte
                    {%else%} Tous experts
                    {%endif%}
                </td>
            </tr>
            <tr>
                <th>Météo</th>
                <td>{%if sortie.meteo == '0'%} Bonne météo
                    {%elif sortie.meteo == '1'%} Météo moyenne
                    {%else%} Mauvaise météo
                    {%endif%}</td>
            </tr>
            </thead>
        </table>

        <br>
        {% if sortie.utilisateur == request.user %}
                    <a href="{% url 'modifier_sortie' sortie.id %}"> 
                       <button type="submit" class="btn btn-sucess">Modifier</button>
                    </a>
                {%endif%}
{% endblock %}